.currencies{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    color: white;
    width: 100px;
    height: 102px;   
    background-color: #5F33AC;
    border-radius: 20px;
    display: flex;
    align-items: center;
    text-align: center;
}